<div class="login-container">

  <form class="login-form" #form="ngForm" name="form" novalidate
        (submit)="onSubmit()">

    <div class="form-control">
      <label>
        Login:
        <input
          type="text"
          [(ngModel)]="login"
          name="login"
          required
        >
      </label>
    </div>

    <div class="form-control">
      <label>
        Password:
        <input
          type="text"
          [(ngModel)]="password"
          name="password"
          required
        >
      </label>
    </div>
    <div class="form-control">
      <button
        type="submit"
        [disabled]="form.invalid"
      >Sign In
      </button>
    </div>
  </form>

</div>
