<div class="todo-container">

  <div class="todo-filter">
    <form
      name="filterForm"
      [formGroup]="filterForm">

      <div class="form-control">
        <input
          type="text"
          formControlName="search"
          placeholder="search..."
        >
      </div>

      <div class="form-control">
        <span class="radio-span" (click)="setStatusFilter('pending')">Pending</span>
        <span class="radio-span" (click)="setStatusFilter('all')">All</span>
      </div>

    </form>
  </div>

  <ul class="todo-list">
    <li
      *ngFor="let todo of todos"
      (click)="onToggleTodo(todo)"
    >
      <div class="todo-item"
           [ngClass]="{done: todo.done}"
      >
        <span class="todo-title">{{todo.title}}</span>
        <span class="todo-description">{{todo.description}}</span>
      </div>
    </li>
  </ul>

  <button type="button" (click)="onAddClicked()">Add</button>
</div>
